#form-title {
    text-align: center;
}

.form {
    background-color: #d8d8d8;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="number"],
.form textarea {
    width: 95%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form input[type="submit"] {
    background-color: #45b949;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form input[type="submit"]:hover {
    background-color: #3d8c41;
}